---
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encriptador</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 flex-grow">
      <div class="max-w-7xl mx-auto">
        <header class="mb-6">
          <img src="Logo.png" alt="Logo" class="w-auto h-auto" />
        </header>
        <main
          class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-6"
        >
          <div class="flex-grow flex flex-col">
            <textarea
              id="inputText"
              class="w-full flex-grow p-4 bg-transparent rounded-md resize-none mb-4 custom-textarea"
              placeholder="Ingrese el texto aqui"></textarea>
            <p class="text-sm text-gray-500 mb-4">
              <span class="inline-block align-middle mr-1">ℹ️</span>
              Solo letras minúsculas y sin acentos
            </p>
            <div
              class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4"
            >
              <button
                id="encriptarBtn"
                class="bg-blue-600 text-white px-6 py-3 rounded-md w-full sm:w-auto"
              >
                Encriptar
              </button>
              <button
                id="desencriptarBtn"
                class="bg-gray-200 text-gray-700 px-6 py-3 rounded-md w-full sm:w-auto"
              >
                Desencriptar
              </button>
            </div>
          </div>
          <aside
            id="outputSection"
            class="w-full md:w-96 bg-white rounded-lg shadow-lg p-6 flex flex-col justify-center items-center"
          >
            <div id="emptyState">
              <img src="Muñeco.png" alt="Icono" class="w-auto h-auto mb-6" />
              <h2 class="text-2xl font-bold text-center mb-4">
                Ningún mensaje fue encontrado
              </h2>
              <p class="text-center text-gray-500">
                Ingresa el texto que desees encriptar o desencriptar.
              </p>
            </div>
            <div id="resultState" class="w-full hidden">
              <textarea
                id="outputText"
                class="w-full flex-grow p-4 bg-transparent rounded-md resize-none mb-4 custom-textarea"
                placeholder="El texto encriptado o desencriptado aparecerá aquí"
                readonly></textarea>
              <button
                id="copyBtn"
                class="bg-blue-600 text-white px-6 py-3 rounded-md w-full"
              >
                Copiar
              </button>
            </div>
          </aside>
        </main>
      </div>
    </div>
    <Footer />
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
      .custom-textarea {
        background-color: transparent;
        font-size: 1.25rem;
        color: #0a3871;
      }
      .custom-textarea::placeholder {
        font-size: 1.25rem;
        color: #0a3871;
      }
    </style>
    <script>
      import { encriptar } from "../lib/encriptador";
      import { desencriptar } from "../lib/encriptador";

      function encriptarTexto() {
        const inputText = document.getElementById(
          "inputText"
        ) as HTMLTextAreaElement;
        const outputText = document.getElementById(
          "outputText"
        ) as HTMLTextAreaElement;
        const emptyState = document.getElementById("emptyState");
        const resultState = document.getElementById("resultState");

        if (inputText && outputText && emptyState && resultState) {
          const textoEncriptado = encriptar(inputText.value);
          outputText.value = textoEncriptado;

          emptyState.classList.add("hidden");
          resultState.classList.remove("hidden");
        }
      }

      function desencriptarTexto() {
        const inputText = document.getElementById(
          "inputText"
        ) as HTMLTextAreaElement;
        const outputText = document.getElementById(
          "outputText"
        ) as HTMLTextAreaElement;
        const emptyState = document.getElementById("emptyState");
        const resultState = document.getElementById("resultState");

        if (inputText && outputText && emptyState && resultState) {
          const textoDesencriptado = desencriptar(inputText.value);
          outputText.value = textoDesencriptado;

          emptyState.classList.add("hidden");
          resultState.classList.remove("hidden");
        }
      }

      function copiarTexto() {
        const outputText = document.getElementById(
          "outputText"
        ) as HTMLTextAreaElement;
        if (outputText) {
          outputText.select();
          document.execCommand("copy");
          alert("Texto copiado al portapapeles");
        }
      }

      document
        .getElementById("encriptarBtn")
        ?.addEventListener("click", encriptarTexto);
      document
        .getElementById("desencriptarBtn")
        ?.addEventListener("click", desencriptarTexto);
      document
        .getElementById("copyBtn")
        ?.addEventListener("click", copiarTexto);
    </script>
  </body>
</html>
