---

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encriptador</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <slot />
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
      .custom-textarea {
        background-color: transparent;
        font-size: 1.25rem;
        color: #0a3871;
      }
      .custom-textarea::placeholder {
        font-size: 1.25rem;
        color: #0a3871;
      }
    </style>
  </body>
</html>
